@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome to <span class="text-danger">ITI</span></h1>
    <p>See All Student <a asp-action="Index" asp-controller="Student" >Click</a>.</p>
</div>
